<script setup lang="ts">
import Breadcrumb from "@/components/breadcrumb/Breadcrumb.vue";
import {useRouter} from "vue-router";
import {img404} from "@/helpers/image";
import {computed, ref, watch, reactive} from "vue";
import apiClient, {responseHandler} from "@/config/api/api";
import {toast} from "vue3-toastify";
import {helpers, maxLength, required, url} from "@vuelidate/validators";
import useVuelidate from "@vuelidate/core";
import useDropZone from "@/services/drop-zone";
import Swal from "sweetalert2/dist/sweetalert2";

const router = useRouter()

const modal = reactive({
  album: false,
});

const destroy = (id: number) => {
  new Swal({
    title: 'Are you sure?',
    text: "Are you sure want DELETE it forever! it can't be recover. Your album images stilled saved",
    type: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: 'Yes, Delete forever'
  }).then((result) => {
    if (result.value) {
      apiClient.delete(`gallery/albums/${id}`)
          .then(async () => {
            state.loading = false;
            state.data = state.data?.filter(album => {
              if (album.id != id)
                return album;
            });
            Swal.fire("Trashed!", "Album move to trash!", "success");
          })
          .catch((e) => {
            state.loading = false;
            responseHandler(e).then(messages => {
              messages.forEach((value: string) => {
                toast(value, {autoClose: 3000});
              })
            });
          });
    }
  });
}
const edit = () => {
  alert('hello');
}

const {dragActive, droppedFile, toggle_active, drop, clearDropped, selectedFile} = useDropZone();

watch(droppedFile, (newVal, oldVal) => {
  form.thumbnail = newVal;
})

const state = reactive({
  loading: false,
  message: [],
  data: []
});

state.loading = false;

const rules = computed(() => {
  return {
    title: {required, maxLength: maxLength(100)},
    paragraph: {required, maxLength: maxLength(255)},
    thumbnail: {
      thumbnail: helpers.withMessage("Invalid image file or URL", () => {
        return true;
        return form.thumbnail?.regex('invalid image file', /\.(gif|jpe?g|tiff|png)$/)
      })
    },
    image_url: {maxLength: maxLength(255), url},
  }
});
const form = reactive({
  title: "",
  paragraph: "",
  thumbnail: "",
  image_url: "",
});
const $v = useVuelidate(rules, form);
const submit = async () => {
  if (await $v.value.$validate() && !state.loading) {
    state.loading = true;
    modal.album = false;
    apiClient.post("/gallery/albums", form, {
      headers: {
        ...{'content-type': 'multipart/form-data'}
      }
    })
        .then(async (response) => {
          state.loading = false;
          modal.album = false;
          state.data.push(response.data?.data)

          form.title = '';
          form.paragraph = '';
          form.thumbnail = '';
          form.image_url = '';
        })
        .catch((e) => {
          state.loading = false;
          modal.album = true;
          responseHandler(e).then(messages => {
            messages.forEach((value: string) => {
              toast(value, {autoClose: 3000});
            })
          });
        });
  }
}
apiClient.get('/gallery/albums')
    .then((response) => {
      state.loading = false;
      state.data = response.data.data
    })
    .catch((e) => {
    });

</script>

<template>
  <Breadcrumb title="Gallery"/>

  <b-container fluid class="file-content">
    <b-row>
      <b-card>
        <b-card-header>
          <div class="media">
            <form class="form-inline">
              <div class="form-group mb-0">
                <i class="fa fa-search"></i>
                <input class="form-control-plaintext" type="text" placeholder="Search...">
              </div>
            </form>
            <div class="media-body text-end">
              <b-button variant="primary" class="d-inline-flex" @click="modal.album = !modal.album">
                <vue-feather type="plus-square"/>
                Album
              </b-button>
              <b-button
                  variant="outline-danger"
                  class="d-inline-flex ms-2"
                  @click="() => router.push({name: 'customer-gallery-trash'})"
              >
                <vue-feather type="trash"/>
                Trash
              </b-button>
            </div>
          </div>
        </b-card-header>
        <b-card-header>
          <h5>MASONRY GALLERY WITH DESCRIPTION</h5>
        </b-card-header>
        <b-card-body>
          <div class="my-gallery row grid gallery-with-description">
            <figure
                v-for="(album) in state.data"
                :key="album"
                class="grid-item col-xl-3 col-sm-6 position-relative mx-md-3 mx-sm-0 p-0"
            >
              <div class="position-absolute top-0 end-0 p-1 vue-feather-box">
                <vue-feather
                    type="trash"
                    @click.prevent="destroy(album.id)"
                    class="feather-icon"
                    title="restore"
                />
                <vue-feather
                    type="edit"
                    @click.prevent="edit(album.id)"
                    class="feather-icon"
                    title="Delete forever"
                />
              </div>
              <router-link :to="{name: 'customer-gallery-album', params: {id: album.id}}">
                <b-img :src="album.thumbnail.path" @error="img404" lazy/>
                <div class="caption">
                  <h4>{{ album.title }}</h4>
                  <p>{{ album?.paragraph }}</p>
                </div>
              </router-link>
            </figure>
          </div>
        </b-card-body>
      </b-card>
    </b-row>
  </b-container>

  <b-modal
      v-model="modal.album"
      bodyClass="animate__animated animate__headShake"
      ok-only
      @ok.prevent="submit"
      okTitle="Submit"
      scrollable
      size="xl"
      title="Create Album">
    <b-form @submit.prevent="submit">
      <div class="form-group">
        <b-form-floating-label class="col-form-label">Title</b-form-floating-label>
        <b-form-input
            type="text"
            placeholder="Title"
            v-model="form.title"
            :state="$v.title.$errors[0]?.$response"
            :disabled="state.loading"
        />
        <b-form-invalid-feedback v-for="error in $v.title.$errors" :key="error.uid" class="text-danger">
          {{ error.$message }}
        </b-form-invalid-feedback>
      </div>
      <div class="form-group">
        <b-form-floating-label class="col-form-label">Paragraph</b-form-floating-label>
        <b-form-textarea
            rows="5"
            placeholder="Enter About your description"
            v-model="form.paragraph"
            :state="$v.paragraph.$errors[0]?.$response"
            :disabled="state.loading"
        />
        <b-form-invalid-feedback v-for="error in $v.paragraph.$errors" :key="error.uid" class="text-danger">
          {{ error.$message }}
        </b-form-invalid-feedback>
      </div>
      <div class="form-group">
        <b-form-floating-label class="col-form-label">Thumbnail URL</b-form-floating-label>
        <b-form-input
            type="url"
            placeholder="Enter Image url"
            v-model="form.image_url"
            :state="$v.image_url.$errors[0]?.$response"
            :disabled="state.loading"
        />
        <b-form-invalid-feedback v-for="error in $v.image_url.$errors" :key="error.uid" class="text-danger">
          {{ error.$message }}
        </b-form-invalid-feedback>
        <div @dragenter.prevent="toggle_active()" @dragleave.prevent="toggle_active()" @dragover.prevent
             @drop.prevent="drop" class="dropzone mt-3 text-center">
          <vue-feather type="upload" :class="{ 'd-none': dragActive }"/>
          <h6>Drop files here or click to upload.</h6>
          <input type="file" @change="selectedFile" name="thumbnail" hidden/>
          <div v-if="droppedFile !== null">
            <span>File: {{ droppedFile?.name }}</span>
            <vue-feather type="x" @click="clearDropped()"/>
          </div>
        </div>
      </div>
    </b-form>
  </b-modal>
</template>

<style scoped>
.feather-icon {
  top: 0;
  width: 40px;
  height: 30px;
  box-sizing: border-box;
  color: var(--theme-deafult);
}

.vue-feather-box:not(.feather-icons) {
  opacity: 0.3;
  border-bottom: 1px solid var(--theme-deafult);
  border-left: 1px solid var(--theme-deafult);
  border-radius: 5px;
  transition: 3s ease;
}

.vue-feather-box:hover {
  opacity: 3;
  transition: 0.3s ease;
}
</style>