<script setup lang="ts">
import Breadcrumb from "@/components/breadcrumb/Breadcrumb.vue";
import {reactive, ref} from "vue";
import useDropZone from "@/services/drop-zone";
import {computed, watch} from "vue";
import apiClient, {responseHandler} from "@/config/api/api";
import {toast} from "vue3-toastify";
import {helpers, required} from "@vuelidate/validators";
import useVuelidate from "@vuelidate/core";
//import Swal from "sweetalert2/dist/sweetalert2";
import {useRouter} from "vue-router";
import emptyImg from "@/assets/images/vuelogo.png";
import {img404} from "@/helpers/image";

const router = useRouter()

const modal = reactive({
  photo: false,
});

const imageUploadProgress = ref({});
const {dragActive, droppedFiles, toggleActive, drop, selectFiles, clearDropped, fileDataUrls} = useDropZone();

const uploadPhotos = async () => {

  for (const file of Object.keys(fileDataUrls.value)) {
    imageUploadProgress.value[file] = 1;
  }

  for (const key in Object.values(droppedFiles.value || [])) {
    let file = droppedFiles.value[key];

    imageUploadProgress.value[file.name] = 50;
    await apiClient.post('/gallery/photos', {files: [file]}, {
      headers: {
        ...{'content-type': 'multipart/form-data'}
      }
    }).then((response) => {
      imageUploadProgress.value[file.name] = 100;
      //state.data.push(response.data?.data);
      setTimeout(() => {
        clearDropped(file);
      }, 3000);
    }).catch((e) => {
      imageUploadProgress.value[file.name] = 3;
    });
  }
}

watch(imageUploadProgress, () => {}, {deep: true});

const destroy = (id: number) => {
  apiClient.delete(`gallery/photos/${id}`)
      .then(async () => {
        state.loading = false;
        state.data = state.data?.filter(album => {
          if (album.id != id)
            return album;
        });
        //Swal.fire("Trashed!", "Album move to trash!", "success");
        toast("Photo moved in trash", {autoClose: 3000});
      })
      .catch((e) => {
        state.loading = false;
        responseHandler(e).then(messages => {
          messages.forEach((value: string) => {
            toast(value, {autoClose: 3000});
          })
        });
      });
}

const state = reactive({
  loading: false,
  message: [],
  data: []
});

state.loading = false;

const rules = computed(() => {
  return {
    image: {
      image: helpers.withMessage("Invalid image file", () => {
        return true;
      })
    },
  }
});
const form = reactive({
  image: "",
});
const $v = useVuelidate(rules, form);
const submit = async () => {
  if (await $v.value.$validate() && !state.loading) {
    state.loading = true;
    modal.photo = false;
    apiClient.post("/gallery/albums", form, {
      headers: {
        ...{'content-type': 'multipart/form-data'}
      }
    })
        .then(async (response) => {
          state.loading = false;
          modal.photo = false;
          state.data.push(response.data?.data)
        })
        .catch((e) => {
          state.loading = false;
          responseHandler(e).then(messages => {
            messages.forEach((value: string) => {
              toast(value, {autoClose: 3000});
            })
          });
        });
  }
}
apiClient.get('/gallery/photos')
    .then((response) => {
      state.loading = false;
      state.data = response.data.data
    })
    .catch((e) => {
    });
</script>

<template>
  <Breadcrumb header="Gallery Photos" title="photos"/>

  <b-container fluid class="file-content">
    <b-row>
      <b-card>
        <b-card-header>
          <div class="media">
            <form class="form-inline">
              <div class="form-group mb-0">
                <i class="fa fa-search"></i>
                <input class="form-control-plaintext" type="text" placeholder="Search...">
              </div>
            </form>
            <div class="media-body text-end">
              <b-button variant="outline-danger" class="d-inline-flex ms-2"
                        @click="() => router.push({name: 'customer-gallery-trash'})">
                <vue-feather type="trash"/>
                Trash
              </b-button>
              <b-button variant="primary" class="d-inline-flex ms-2" @click="modal.photo = !modal.photo">
                <vue-feather type="upload"/>
                Upload
              </b-button>
            </div>
          </div>
        </b-card-header>
        <b-card-header>
          <h5>MASONRY PHOTOS</h5>
        </b-card-header>
        <b-card-body>
          <b-skeleton-wrapper :loading="state.loading">
            <template #loading>
              <b-row>
                <b-col md="4">
                  <b-skeleton width="100%"></b-skeleton>
                  <b-skeleton width="100%" height="200px"></b-skeleton>
                  <b-skeleton width="30%"></b-skeleton>
                  <b-skeleton width="50%"></b-skeleton>
                  <b-skeleton width="90%"></b-skeleton>
                </b-col>
                <b-col md="4">
                  <b-skeleton width="100%"></b-skeleton>
                  <b-skeleton width="100%" height="200px"></b-skeleton>
                  <b-skeleton width="30%"></b-skeleton>
                  <b-skeleton width="50%"></b-skeleton>
                  <b-skeleton width="90%"></b-skeleton>
                </b-col>
                <b-col md="4">
                  <b-skeleton width="100%"></b-skeleton>
                  <b-skeleton width="100%" height="200px"></b-skeleton>
                  <b-skeleton width="30%"></b-skeleton>
                  <b-skeleton width="50%"></b-skeleton>
                  <b-skeleton width="90%"></b-skeleton>
                </b-col>
              </b-row>
            </template>

            <b-row v-if="!state.data.length" class="text-center justify-content-center">
              <b-img fluid class="w-25" :src="emptyImg" itemprop="thumbnail"/>
              <h3>No Item</h3>
            </b-row>

            <div class="my-gallery row grid gallery-with-description">
              <figure
                  v-for="(file) in state.data"
                  :key="file"
                  class="grid-item col-xl-3 col-sm-6 position-relative mx-md-3 mx-sm-0 p-0"
              >
                <div class="position-absolute top-0 end-0 p-1 vue-feather-box">
                  <vue-feather
                      type="trash"
                      @click.prevent="destroy(file.id)"
                      class="feather-icon"
                      title="Move to Trash"
                  />
                </div>
                <router-link :to="{name: 'customer-gallery-album', params: {id: file.id}}">
                  <template v-if="file.mime.includes('image/')">
                    <b-img :src="file.file.path" @error="img404" lazy />
                  </template>
                  <template v-else-if="file.mime.includes('audio/')">
                    <!-- Display an audio player for audio files -->
                    <audio controls>
                      <source :src="file.file.path" :type="file.mime">
                      Your browser does not support the audio element.
                    </audio>
                  </template>
                  <template v-else-if="file.mime.includes('video/')">
                    <!-- Display a video player for video files -->
                    <video controls class="video-player">
                      <source :src="file.file.path" :type="file.mime">
                      Your browser does not support the video element.
                    </video>
                  </template>
                  <div class="caption">
                    <p>{{ file?.description }}</p>
                  </div>
                </router-link>

              </figure>
            </div>
          </b-skeleton-wrapper>
        </b-card-body>
        <b-card-footer>
          <p>Cloud photo storage refers to the practice of storing digital photos and images on remote servers, commonly
            known as the cloud. Instead of keeping photos solely on local devices such as computers, smartphones, or
            external hard drives, users can upload their images to an online service that securely stores and manages
            them</p>
        </b-card-footer>
      </b-card>
      <b-modal
          v-model="modal.photo"
          bodyClass="animate__animated animate__headShake"
          @ok.prevent="uploadPhotos"
          okTitle="Upload"
          cancel-title="Close"
          scrollable
          size="xl"
          title="Upload photos">
        <b-row
            @dragenter.prevent="toggleActive()"
            @dragleave.prevent="toggleActive()"
            @dragover.prevent="toggleActive()"
            @drop.prevent="drop"
            class="dropzone mt-3">
          <b-col md="12 text-center">
            <span><vue-feather type="upload" :class="{ 'd-none': dragActive }"/></span>
            <h6 :class="{ 'd-none': dragActive }">Drop files here or click to upload.</h6>
          </b-col>

          <input type="file" @change="selectFiles" name="thumbnail" hidden/>

          <b-container v-if="droppedFiles !== null">
            <b-row justify="center">
              <b-col md="3" v-for="file in droppedFiles" :key="file" class="p-1 mx-md-1 bg-white rounded-3">
                <div class="position-relative d-flex justify-content-center h-100">
                  <template v-if="file.type.includes('image/')">
                    <b-img
                        class="animate__animated animate__pulse mb-4"
                        :src="fileDataUrls[file.name]"
                        :alt="file.name"
                        fluid
                    />
                  </template>
                  <template v-else-if="file.type.includes('audio/')">
                    <!-- Display an audio player for MP3 files -->
                    <audio controls>
                      <source :src="fileDataUrls[file.name]" type="audio/mpeg">
                      Your browser does not support the audio element.
                    </audio>
                  </template>
                  <template v-else-if="file.type.includes('video/')">
                    <!-- Display a video player for video files -->
                    <video controls>
                      <source :src="fileDataUrls[file.name]" :type="file.type" class="w-25">
                      Your browser does not support the video element.
                    </video>
                  </template>
                  <div class="feather-container position-absolute top-0 end-0" style="{z-index: 10}">
                    <vue-feather type="x" @click="clearDropped(file)"/>
                  </div>
                  <BProgress
                      :value="imageUploadProgress[file.name] || 1" :max="100" show-value
                      class="progress-bar position-absolute bottom-0 start-0 w-100 px-3"
                  />
                </div>
              </b-col>
            </b-row>
          </b-container>

        </b-row>
      </b-modal>
    </b-row>
  </b-container>
</template>

<style scoped>
.feather-icon {
  top: 0;
  width: 40px;
  height: 30px;
  box-sizing: border-box;
  color: var(--theme-deafult);
}

.vue-feather-box:not(.feather-icons) {
  opacity: 0.3;
  border-bottom: 1px solid var(--theme-deafult);
  border-left: 1px solid var(--theme-deafult);
  border-radius: 5px;
  transition: 3s ease;
}
.vue-feather-box:hover {
  opacity: 3;
  transition: 0.3s ease;
}
.video-player {
  width: 100%; /* Set the width to 100% of its container */
  max-width: 500px; /* Set a maximum width if desired */
}
</style>