<script setup lang="ts">

import Breadcrumb from "@/components/breadcrumb/Breadcrumb.vue";
import {img404} from "@/helpers/image";
import {reactive} from "vue";
import apiClient, {responseHandler} from "@/config/api/api";
import binImg from "@/assets/images/bin.png";
import {toast} from "vue3-toastify";
//import Swal from "sweetalert2/dist/sweetalert2";

const state = reactive({
  loading: true,
  message: [],
  data: []
});

apiClient.get('/gallery/photos/trash/list')
    .then((response) => {
      state.loading = false;
      state.data = response.data.data
    })
    .catch((e) => {
    });

const destroyForce = (id: number) => {
  apiClient.delete(`gallery/photos/${id}/destroy-force`)
      .then(async () => {
        state.loading = false;
        state.data = state.data?.filter(album => {
          if (album.id != id)
            return album;
        });
        //Swal.fire("Trashed!", "Album move to trash!", "success");
        toast("Photo Deleted", {autoClose: 3000});
      })
      .catch((e) => {
        state.loading = false;
        responseHandler(e).then(messages => {
          messages.forEach((value: string) => {
            toast(value, {autoClose: 3000});
          })
        });
      });
}
const restore = (id: number) => {
  apiClient.post(`gallery/photos/${id}/restore`)
      .then(async () => {
        state.loading = false;
        state.data = state.data?.filter(album => {
          if (album.id != id)
            return album;
        });
        //Swal.fire("Recover!", "Photo recovered", "success");
        toast("Photo recovered", {autoClose: 3000});
      })
      .catch((e) => {
        state.loading = false;
        responseHandler(e).then(messages => {
          messages.forEach((value: string) => {
            toast(value, {autoClose: 3000});
          })
        });
      });
}

</script>

<template>
  <Breadcrumb header="Trash" title="trash"/>

  <b-container fluid class="file-content">
    <b-row>
      <b-card>
        <b-card-header>
          <div class="media">
            <h5>Waste Management </h5>
            <div class="media-body text-end">
              <b-button variant="outline-danger" class="d-inline-flex ms-2"
                        :disabled="!state.data.length && state.loading">
                <vue-feather type="trash"/>
                Empty
              </b-button>
            </div>
          </div>
        </b-card-header>
        <b-card-body>
          <b-skeleton-wrapper :loading="state.loading">
            <template #loading>
              <b-row>
                <b-col md="4">
                  <b-skeleton width="100%"></b-skeleton>
                  <b-skeleton width="100%" height="200px"></b-skeleton>
                  <b-skeleton width="30%"></b-skeleton>
                  <b-skeleton width="50%"></b-skeleton>
                  <b-skeleton width="90%"></b-skeleton>
                </b-col>
                <b-col md="4">
                  <b-skeleton width="100%"></b-skeleton>
                  <b-skeleton width="100%" height="200px"></b-skeleton>
                  <b-skeleton width="30%"></b-skeleton>
                  <b-skeleton width="50%"></b-skeleton>
                  <b-skeleton width="90%"></b-skeleton>
                </b-col>
                <b-col md="4">
                  <b-skeleton width="100%"></b-skeleton>
                  <b-skeleton width="100%" height="200px"></b-skeleton>
                  <b-skeleton width="30%"></b-skeleton>
                  <b-skeleton width="50%"></b-skeleton>
                  <b-skeleton width="90%"></b-skeleton>
                </b-col>
              </b-row>
            </template>

            <b-row v-if="!state.data.length" class="text-center justify-content-center">
              <b-img class="img-thumbnail w-25" :src="binImg" itemprop="thumbnail"/>
              <h3>No Item</h3>
              <p> industrial waste, construction debris, and discarded items from commercial establishments </p>
            </b-row>

            <div class="my-gallery row grid gallery-with-description">
            <figure
                v-for="(file) in state.data"
                :key="file"
                class="grid-item col-xl-3 col-sm-6 position-relative mx-md-3 mx-sm-0 p-0"
            >
              <div class="position-absolute top-0 end-0 p-1 vue-feather-box">
                <vue-feather
                    type="repeat"
                    @click.prevent="restore(file.id)"
                    class="feather-icon"
                    title="Move to Trash"
                />
                <vue-feather
                    type="trash"
                    @click.prevent="destroyForce(file.id)"
                    class="feather-icon"
                    title="Delete forever"
                />
              </div>
              <a>
                <b-img :src="file.file.path" @error="img404" lazy />
                <div class="caption">
                  <p>{{ file?.description }}</p>
                </div>
              </a>
            </figure>
            </div>
          </b-skeleton-wrapper>
        </b-card-body>
        <b-card-footer>
          <p>
            Trash refers to waste or unwanted materials that are no longer useful and are typically discarded. It
            includes various types of solid waste generated by human activities, such as household garbage, industrial
            waste, construction debris, and discarded items from commercial establishments.
          </p>
        </b-card-footer>
      </b-card>
    </b-row>
  </b-container>
</template>


<style scoped>
.feather-icon {
  top: 0;
  width: 40px;
  height: 30px;
  box-sizing: border-box;
  color: var(--theme-deafult);
}

.vue-feather-box:not(.feather-icons) {
  opacity: 0.3;
  border-bottom: 1px solid var(--theme-deafult);
  border-left: 1px solid var(--theme-deafult);
  border-radius: 5px;
  transition: 3s ease;
}
.vue-feather-box:hover {
  opacity: 3;
  transition: 0.3s ease;
}
</style>