<script setup lang="ts">

import {useRoute} from "vue-router";

const route = useRoute();
</script>
<template>
  <div class="authentication-bg min-vh-100">
    <div class="bg-overlay bg-white"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center py-5">
            <h3 class="display-1 fw-normal error-text" v-if="route.query?.status==='1'">Confirm your email address.</h3>
            <div class="card-body pb-0">
              <div class="cartoon">
                <img class="img-fluid" src="@/assets/images/dashboard/cartoon.png" alt="" v-if="route.query?.status==='1'">
                <img class="img-fluid" src="https://cdn1.iconfinder.com/data/icons/prettyoffice9/256/email-alert.png" alt="" v-if="route.query?.status==='0'">
              </div>
            </div>
            <h4 class="text-uppercase text-muted" v-if="route.query?.status==='1'">
              Email Secondary Verified Successfully
            </h4>
            <p class="text-uppercase text-muted">
              Set up a triggered confirmation email to verify new subscribers’ account information after they sign up
              for your emails. It’s an easy way to double-check their contact data and confirm that they do, in fact,
              want to get mail from you.
            </p>
            <div class="mt-5 text-center">
              <RouterLink :to="{name: 'customer-dashboard'}" class="btn btn-primary">
                Back to Dashboard
              </RouterLink>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>