<script setup lang="ts">
import {ref, watch} from "vue";

const sliderBar = [
  {
    "title": "General",
    "description": "Dashboards,Widgets & Layout.",
    "type": "head"
  },
  {
    "path": "/dashboard",
    "title": "Dashboard",
    "icon": "file",
    "type": "link"
  },
  {
    "title": "Gallery",
    "type": "sub",
    "active": false,
    "children": [
      {
        "path": "/gallery/albums",
        "title": "Albums",
        "type": "link"
      },
      {
        "path": "/gallery/photos",
        "title": "Photos",
        "type": "link"
      },
      {
        "path": "/gallery/favorites",
        "title": "Favorites",
        "type": "link"
      },
      {
        "path": "/gallery/trash",
        "title": "Trash",
        "type": "link"
      }
    ]
  }
  /*{
      "title": "Dashboard",
      "icon": "home",
      "type": "sub",
      "badgeType": "light-primary",
      "badgeValue": "2",
      "active": false,
      "children": [
          {
              "path": "/dashboard/default",
              "title": "Default",
              "type": "link"
          },
          {
              "path": "/dashboard/ecommerce",
              "title": "E-Commerce",
              "type": "link"
          }
      ]
  },
  {
      "title": "Forms",
      "icon": "file-text",
      "type": "sub",
      "active": false,
      "children": [
          {
              "title": "Form Controls",
              "type": "sub",
              "active": false,
              "children": [
                  {
                      "path": "/form/validation",
                      "title": "Form Validation",
                      "type": "link"
                  },
                  {
                      "path": "/form/inputs",
                      "title": "Base Inputs",
                      "type": "link"
                  },
                  {
                      "path": "/form/checkbox-radio",
                      "title": "Checkbox & Radio",
                      "type": "link"
                  },
                  {
                      "path": "/form/input-groups",
                      "title": "Input Groups",
                      "type": "link"
                  },
                  {
                      "path": "/form/mega-options",
                      "title": "Mega Options",
                      "type": "link"
                  }
              ]
          },
          {
              "title": "Form Widgets",
              "type": "sub",
              "active": false,
              "children": [
                  {
                      "path": "/form/datepicker",
                      "title": "Datepicker",
                      "type": "link"
                  },
                  {
                      "path": "/form/select2",
                      "title": "Select2",
                      "type": "link"
                  },
                  {
                      "path": "/form/switch",
                      "title": "Switch",
                      "type": "link"
                  },
                  {
                      "path": "/form/touchspin",
                      "title": "Touchspin",
                      "type": "link"
                  },
                  {
                      "path": "/form/typeahead",
                      "title": "Typeahead",
                      "type": "link"
                  },
                  {
                      "path": "/form/clipboard",
                      "title": "Clipboard",
                      "type": "link"
                  }
              ]
          },
          {
              "path": "/form/wizard",
              "title": "Form Wizard",
              "type": "link"
          }
      ]
  },*/
];

const sideBarLinkExpend = ref(false);
</script>

<template>
  <div class="sidebar-wrapper">
    <div>
      <div class="logo-wrapper">
        <router-link to="/">
          <img class="img-fluid for-light" src="@/assets/images/logo/logo.png" alt=""/>
          <img class="img-fluid for-dark" src="@/assets/images/logo/logo_dark.png" alt=""/>
        </router-link>
        <div class="back-btn">
          <i class="fa fa-angle-left"/>
        </div>
        <div class="toggle-sidebar">
          <vue-feather class="status_toggle middle sidebar-toggle" type="grid"/>
        </div>
      </div>
      <div class="logo-icon-wrapper">
        <router-link to="/">
          <img class="img-fluid" src="@/assets/images/logo/logo-icon.png" alt="">
        </router-link>
      </div>
      <nav class="sidebar-main">
        <div class="left-arrow" id="left-arrow">
          <vue-feather type="arrow-left"/>
        </div>
        <b-row>
          <ul class="sidebar-links">
            <li class="back-btn">
              <router-link to="/">
                <img class="img-fluid"
                     src="@/assets/images/logo/logo-icon.png"
                     alt="logo icon"/>
              </router-link>
              <div class="mobile-back text-end">
                <span>Back</span>
                <i class="fa fa-angle-right ps-2" aria-hidden="true"/>
              </div>
            </li>

            <template v-for="(items, idx) in sliderBar" :key="idx">
              <li class="sidebar-main-title" v-if="items.type === 'head'">
                <b-row>
                  <h6 class="lan-1">{{ items?.title }}</h6>
                  <p class="lan-2">{{ items.description }}</p>
                </b-row>
              </li>
              <li class="sidebar-list animate__animated animate__jello" v-if="items.type === 'link'">
                <router-link class="sidebar-link sidebar-title link-nav" :to="items.path">
                  <vue-feather :type="items.icon"></vue-feather>
                  <span>{{ items.title }}</span>
                </router-link>
              </li>

              <li class="sidebar-list animate__animated animate__jello" v-if="items.type === 'sub' && !items?.children[0]?.children">
                <router-link class="sidebar-link sidebar-title active"
                             :class="{'active': sideBarLinkExpend}"
                             to=""
                             @click="sideBarLinkExpend = !sideBarLinkExpend">
                  <vue-feather type="home"/>
                  <span class="lan-3">{{ items.title }}</span>
                  <div class="according-menu">
                    <vue-feather type="chevron-right"/>
                  </div>
                </router-link>
                <ul class="sidebar-submenu" :class="{'d-block animate__animated animate__jello': sideBarLinkExpend}">
                  <li v-for="(item, idx) in items.children" :key="idx">
                      <router-link class="lan-4" :to="item.path">{{ item.title }}</router-link>
                  </li>
                </ul>
              </li>

              <li class="mega-menu" v-if="items.type === 'sub' && items?.children[0]?.children">
                <vue-feather class="sidebar-link sidebar-title active" to="" @click.prevent>
                  <vue-feather type="layers"/>
                  <span>{{ items.title }}</span>
                  <div class="according-menu">
                    <vue-feather type="chevron-right"/>
                  </div>
                </vue-feather>
                <div class="mega-menu-container menu-content">
                  <b-container fluid>
                    <b-row>
                      <div class="col mega-box" v-for="(item, idx) in items?.children" :key="idx">
                        <div class="link-section">
                          <div class="submenu-title">
                            <h5>{{ item.title }}</h5>
                            <div class="according-menu">
                              <i class="fa fa-angle-right"></i>
                            </div>
                          </div>
                          <ul class="submenu-content opensubmegamenu mx-3">
                            <li v-for="(item, idx) in item.children" :key="idx">
                              <router-link :to="item.path">{{ item.title }}</router-link>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </b-row>
                  </b-container>
                </div>
              </li>
            </template>
          </ul>
        </b-row>
      </nav>
    </div>
  </div>
</template>

<style scoped>

</style>