<script setup lang="ts">
import {
  userForm,
} from "@/components/account/profile-edit";
import {citiesFetch, statesFetch} from "@/config/earth";

import Breadcrumb from "@/components/breadcrumb/Breadcrumb.vue";
import {watch} from "vue";
import UserCard from "@/components/account/user-card.vue";
import PasswordCard from "@/components/account/password-card.vue";
import EmailCard from "@/components/account/email-card.vue";
import ProfileCard from "@/components/account/profile-card.vue";

watch(() => ({...userForm}), (newVal, oldVal) => {
  if (parseInt(newVal.country_id) > 0 && newVal.country_id !== oldVal.country_id) {
    statesFetch(newVal.country_id);
  }
  if (parseInt(newVal.country_id) > 0 && newVal.state_id !== oldVal.state_id) {
    citiesFetch(newVal.state_id);
  }
});

</script>

<template>
  <Breadcrumb/>
  <b-container fluid>
    <div class="edit-profile">
      <b-row>
        <b-col col-xl="4">
          <profile-card/>
          <email-card/>
          <password-card/>
        </b-col>
        <user-card/>
      </b-row>
    </div>
    <div class="mb-5"/>
  </b-container>
</template>

<style lang="scss" scoped>
.multiselect {
  .multiselect-wrapper {
    font-size: 10px;
  }

  .multiselect-tag {
    span {
      background: var(--theme-deafult) !important;
    }
  }
}
</style>