<template>
  <div>
    <div class="page-wrapper">
      <div class="container-fluid p-0">
        <div class="row">
          <div class="col-12">
            <div class="login-card">
              <div>
                <div>
                  <a class="logo">
                    <img
                      class="img-fluid for-light"
                      src="@/assets/images/logo/login.png"
                      alt="logo"
                    />
                    <img
                      class="img-fluid for-dark"
                      src="@/assets/images/logo/logo_dark.png"
                      alt="logo"
                    />
                  </a>
                </div>

                <div class="login-main login-form-card">

                  <b-alert
                    :model-value="!!state.message.length"
                    :variant="state.variantType"
                    class="outline-2x"
                  >
                    <p v-for="(msg, idx) in state.message" :key="idx">{{ msg }}</p>
                  </b-alert>

                  <b-form @submit.prevent="submit">

                    <h4>Forgot your account</h4>
                    <p>Enter your email for verify you account</p>

                    <div class="form-group">
                      <b-form-floating-label class="col-form-label">Email</b-form-floating-label>
                      <b-form-input
                        type="email"
                        placeholder="Enter Email"
                        v-model="form.email"
                        :state="$v.email.$errors[0]?.$response"
                      />
                      <b-form-invalid-feedback v-for="error in $v.email.$errors" :key="error.uid" class="text-danger">
                        {{ error.$message }}
                      </b-form-invalid-feedback>
                    </div>

                    <div class="mt-3">
                      <b-button variant="primary" class="w-100" type="submit" :disabled="state.loading">Send Link
                      </b-button>
                    </div>
                    <p class="mt-4 mb-0">
                      I remember
                      <RouterLink class="ml-2" to="/login">
                        Login
                      </RouterLink>
                    </p>
                  </b-form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import {RouterLink} from "vue-router";
import useVuelidate from '@vuelidate/core';
import {required, email} from '@vuelidate/validators';
import {computed, reactive} from "vue";
import {api, responseHandler} from "@/config/api/api";
import {injectSystem} from "@/providers/useSystem";

const globalData = injectSystem();

const form = reactive({
  email: globalData.data?.email || "",
  url: window.origin,
});
const state = reactive({
  loading: false,
  message: [],
  variantType: "danger"
});

const rules = computed(() => {
  return {
    email: {required, email},
  }
});
const $v = useVuelidate(rules, form);

const submit = async () => {
  const result = await $v.value.$validate();
  if (result) {

    state.loading = true;

    await api.post('/auth/password/forgot', form)
      .then(response => {
        state.loading = false;
        state.variantType = 'primary'
        state.message = response.data?.message;
      })
      .catch((e) => {
        state.variantType = 'danger'
        state.loading = false;
        responseHandler(e).then(messages => {
          state.message = messages;
        });
      });
  }
}
</script>