<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-7 b-center bg-size" :style="{ backgroundImage: 'url('+ logo +')' }"
           style="background-size: cover; background-position: center center; display: block;">
        <img
            class="bg-img-cover bg-center"
            src="@/assets/images/login/2.jpg"
            alt="login page"
            style="display: none;"
        />
      </div>
      <div class="col-xl-5 p-0">
        <div class="login-card">
          <div>
            <div>
              <a class="logo text-left">
                <img
                    class="img-fluid for-light"
                    src="@/assets/images/logo/login.png"
                    alt="logo image"
                />
                <img
                    class="img-fluid for-dark"
                    src="@/assets/images/logo/logo_dark.png"
                    alt="logo image"
                />
              </a>
            </div>
            <div class="login-main login-form-card login-res">

              <b-alert
                  :model-value="route.query.r==='1' && !!globalData.data?.email"
                  variant="success"
                  class="outline-2x"
              >
                {{ globalData.data.message }}
              </b-alert>

              <b-form @submit.prevent="submit">
                <h4>Sign in to account</h4>
                <p>Enter your email & password to login</p>
                <div class="form-group">
                  <b-form-floating-label class="col-form-label">Email Address</b-form-floating-label>
                  <b-form-input
                      type="email"
                      placeholder="Enter Email"
                      v-model="form.email"
                      :state="$v.email.$errors[0]?.$response"
                  />
                  <b-form-invalid-feedback v-for="error in $v.email.$errors" :key="error.uid" class="text-danger">
                    {{ error.$message }}
                  </b-form-invalid-feedback>
                </div>
                <div class="form-group">
                  <b-form-floating-label class="col-form-label">Password</b-form-floating-label>
                  <b-form-input
                      type="password"
                      placeholder="Enter Password"
                      v-model="form.password"
                      :state="$v.password.$errors[0]?.$response"
                  />
                  <b-form-invalid-feedback v-for="error in $v.password.$errors" :key="error.uid" class="text-danger">
                    {{ error.$message }}
                  </b-form-invalid-feedback>
                </div>
                <div class="form-group mb-0">
                  <div class="checkbox p-0">
                    <b-form-checkbox value="option1">Remember password</b-form-checkbox>
                  </div>
                  <b-button variant="primary" type="submit">
                    Sign in
                  </b-button>
                </div>
                <h6 class="text-muted mt-4 or">Or Sign in with</h6>
                <div class="social mt-4">
                  <div class="btn-showcase">
                    <a class="btn btn-light">
                      <i class="fa fa-google txt-linkedin"></i>
                      Google
                    </a>
                    <a class="btn btn-light">
                      <vue-feather type="twitter" class="txt-twitter"></vue-feather>
                      twitter
                    </a>
                    <a class="btn btn-light">
                      <vue-feather type="facebook" class="txt-fb"></vue-feather>
                      facebook
                    </a>
                  </div>
                </div>
                <p class="mt-4 mb-0">
                  Don't have account?
                  <router-link class="ml-2" to="/sign-up">
                    Create Account
                  </router-link>
                </p>
                <p class="mb-0">
                  <RouterLink to="/password/forgot">
                    Forgot your password
                  </RouterLink>
                </p>
              </b-form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import {RouterLink, useRoute, useRouter} from "vue-router";
import useVuelidate from '@vuelidate/core';
import {email, required} from '@vuelidate/validators';
import {computed, reactive, watch} from "vue";
import {useCustomerStore} from '@/stores/customerStore'
import logo from '@/assets/images/login/2.jpg'
import {responseHandler} from "@/config/api/api";
import {toast} from "vue3-toastify";
import {injectSystem} from "@/providers/useSystem";

const store = useCustomerStore();

const router = useRouter()
const route = useRoute()

const globalData = injectSystem();
const form = reactive({
  email: globalData.data?.email || "admin@test.com",
  password: "123456",
});
watch(form, (newEmail) => {
  globalData.data = {
    email: globalData.data?.email || newEmail.email,
    message: globalData.data?.message || ""
  };
  // return Cookies.set("email", newEmail.email, {
  //   expires: 3,
  // });
})

const state = reactive({
  loading: true,
});

const rules = computed(() => {
  return {
    email: {required, email},
    password: {required},
  }
});
const $v = useVuelidate(rules, form);

const submit = async () => {

  const result = await $v.value.$validate();
  if (result) {
    await store.login(form.email, form.password)
        .then(async () => {
          state.loading = false;
          await router.push({name: "customer-dashboard"});
        })
        .catch((e) => {
          state.loading = false;

          responseHandler(e).then(messages => {
            messages.forEach((value: string) => {
              toast(value, {autoClose: 3000});
            })
          });

          if (e.response?.status === 403) {
            setTimeout(() => {
              router.push({
                name: "verification-email-resend",
              });
            }, 1000)
          }
        });
  }
}
</script>