<template>
	<div>
		<div class="container-fluid p-0">
			<div class="row m-0">
				<div class="col-12 p-0">
					<div class="login-card">
						<div>
							<div>
								<RouterLink to="/" class="logo">
									<img
										class="img-fluid for-light"
										src="@/assets/images/logo/login.png"
										alt="logo"
									/>
									<img
										class="img-fluid for-dark"
										src="@/assets/images/logo/logo_dark.png"
										alt="logo"
									/>
								</RouterLink>
							</div>
							<div class="login-main login-form-card">
								
								<b-form @submit.prevent="submit">
									<h4>Create your account</h4>
									<p>Enter your personal details to create account</p>
									<div class="form-group">
										<b-form-floating-label class="col-form-label pt-0">Your Name</b-form-floating-label>
										<b-form-input
											type="text"
											placeholder="First name"
											v-model="form.name"
											:state="$v.name.$errors[0]?.$response"
										/>
										<b-form-invalid-feedback v-for="error in $v.name.$errors" :key="error.uid" class="text-danger">
											{{ error.$message }}
										</b-form-invalid-feedback>
									</div>
									<div class="form-group">
										<label class="col-form-label">Email Address</label>
										<b-form-input
											type="email"
											placeholder="Email address"
											v-model="form.email"
											:state="$v.email.$errors[0]?.$response"
										/>
										<b-form-invalid-feedback v-for="error in $v.email.$errors" :key="error.uid" class="text-danger">
											{{ error.$message }}
										</b-form-invalid-feedback>
									</div>
									<div class="form-group">
										<label class="col-form-label">Password</label>
										<b-form-input
											type="password"
											placeholder="*********"
											v-model="form.password"
											:state="$v.password.$errors[0]?.$response"
										/>
										<b-form-invalid-feedback v-for="error in $v.password.$errors" :key="error.uid" class="text-danger">
											{{ error.$message }}
										</b-form-invalid-feedback>
									</div>
									<div class="form-group">
										<label class="col-form-label">Confirm Password</label>
										<b-form-input
											type="password"
											placeholder="*********"
											v-model="form.password_confirmation"
											:state="$v.password_confirmation.$errors[0]?.$response"
										/>
										<b-form-invalid-feedback
											v-for="error in $v.password_confirmation.$errors" :key="error.uid"
											class="text-danger">
											{{ error.$message }}
										</b-form-invalid-feedback>
									</div>
									<div class="form-group mb-0">
										<div class="checkbox p-0">
											<b-form-checkbox value="1">
												Agree with
												<RouterLink class="ml-2" to="/term-and-policy">Privacy Policy</RouterLink>
											</b-form-checkbox>
										</div>
										<b-button variant="primary" type="submit" :disabled="state.loading">
											Create Account
										</b-button>
									</div>
									<h6 class="text-muted mt-4 or">Or signup with</h6>
									<div class="social mt-4">
										<div class="btn-showcase">
											<a class="btn btn-light">
												<i class="fa fa-google txt-linkedin"></i>
												Google
											</a>
											<a class="btn btn-light">
												<VueFeather type="twitter" class="txt-twitter"></VueFeather>
												twitter
											</a>
											<a class="btn btn-light">
												<VueFeather type="facebook" class="txt-fb"></VueFeather>
												facebook
											</a>
										</div>
									</div>
									<p class="mt-4 mb-0">
										Already have an account?
										<RouterLink class="ml-2" to="/login">
											Login
										</RouterLink>
									</p>
								</b-form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script setup lang="ts">
import {RouterLink} from "vue-router";
import useVuelidate from '@vuelidate/core';
import {required, email, minLength, sameAs, helpers} from '@vuelidate/validators';
import {computed, reactive} from "vue";
import {api, responseHandler} from "@/config/api/api";
import {useRouter} from 'vue-router'
import {toast} from "vue3-toastify";
import {injectSystem} from "@/providers/useSystem";

const globalData = injectSystem();
const form = reactive({
	name: '',
	email: '',
	password: '',
	password_confirmation: '',
});

const router = useRouter();

const state = reactive({
	loading: false,
});

const isEmailExist = () => {
	return true;
}

const rules = computed(() => {
	return {
		name: {required},
		email: {required, email, isEmailExist: helpers.withMessage("email is already in use", isEmailExist)},
		password: {required, min: minLength(6)},
		password_confirmation: {required, sameAs},
	}
});
const $v = useVuelidate(rules, form);

const submit = async () => {
	const result = await $v.value.$validate();
	if (result) {
		
		state.loading = true;
		await api.post('/auth/register', form)
			.then((response) => {
				if (response.data?.user?.id) {
					setTimeout(() => {
						router.push({name: "login", query: {r: 1}});
					}, 1000);
					
					toast("Register Successfully", {autoClose: 3000});
				}

        globalData.data = {
          email: form.email,
          message: "Register Successfully"
        };
				
				form.name = '';
				form.email = '';
				form.password = '';
				form.password_confirmation = '';
				
				state.loading = false;
			})
			.catch((e) => {
				state.loading = false;
				
				responseHandler(e).then(messages => {
					messages.forEach((value: string) => {
						toast(value, {autoClose: 3000});
					})
				});
			});
	}
}
</script>