<template>
  <div>
    <div class="page-wrapper">
      <div class="container-fluid p-0">
        <div class="row">
          <div class="col-12">
            <div class="login-card">
              <div>
                <div>
                  <a class="logo">
                    <img
                      class="img-fluid for-light"
                      src="@/assets/images/logo/login.png"
                      alt="logo"
                    />
                    <img
                      class="img-fluid for-dark"
                      src="@/assets/images/logo/logo_dark.png"
                      alt="logo"
                    />
                  </a>
                </div>
                <div class="login-main login-form-card">

                  <b-alert
                    :model-value="!!state.message.length"
                    :variant="state.variantType"
                    class="outline-2x"
                  >
                    <p v-for="(msg, idx) in state.message" :key="idx">{{ msg }}</p>
                  </b-alert>

                  <b-form @submit.prevent="submit">
                    <h4>Reset Your Password</h4>
                    <h6 class="mt-4">Create Your Password</h6>

                    <div class="form-group">
                      <b-form-floating-label class="col-form-label">New Password</b-form-floating-label>
                      <b-form-input
                        type="password"
                        placeholder="******"
                        v-model="form.password"
                        :state="$v.password.$errors[0]?.$response"
                      />
                      <b-form-invalid-feedback v-for="error in $v.password.$errors" :key="error.uid" class="text-danger">
                        {{ error.$message }}
                      </b-form-invalid-feedback>
                    </div>

                    <div class="form-group">
                      <b-form-floating-label class="col-form-label">Password Confirmation</b-form-floating-label>
                      <b-form-input
                        type="password"
                        placeholder="******"
                        v-model="form.password_confirmation"
                        :state="$v.password_confirmation?.$errors[0]?.$response"
                      />
                      <b-form-invalid-feedback v-for="error in $v.password_confirmation.$errors" :key="error.uid" class="text-danger">
                        {{ error.$message }}
                      </b-form-invalid-feedback>
                    </div>

                    <div class="form-group mt-3">
                      <b-button variant="primary" class="w-100" type="submit">Change</b-button>
                    </div>
                    <p class="mt-4 mb-0">Already have an password?
                      <RouterLink class="ml-2" to="/login">
                        Login
                      </RouterLink>
                    </p>
                  </b-form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
import {RouterLink, useRoute, useRouter} from "vue-router";
import {computed, reactive} from "vue";
import {api, responseHandler} from "@/config/api/api";
import useVuelidate from "@vuelidate/core";
import {email, required, minLength, sameAs} from "@vuelidate/validators";

const router = useRouter()
const route = useRoute()

const form = reactive({
  email: route.query?.email,
  password: "",
  password_confirmation: "",
  url: window.origin,
});
const state = reactive({
  loading: false,
  message: [],
  variantType: "danger"
});
const rules = computed(() => {
  return {
    email: {required, email},
    password: { required, minLength: minLength(6) },
    password_confirmation: { sameAsPassword: sameAs(form.password) }
  }
});

const $v = useVuelidate(rules, form);

const submit = async () => {
  const result = await $v.value.$validate();
  if (result) {

    state.loading = true;

    await api.post(`/auth/password/reset/${route.query.token}`, form)
      .then(response => {
        state.loading = false;
        state.variantType = 'primary'
        state.message = response.data?.message;

        setTimeout(() => {
          router.push('login');
        }, 3000)
      })
      .catch((e) => {
        state.variantType = 'danger'
        state.loading = false;
        responseHandler(e).then(messages => {
          state.message = messages;
        });
      });
  }
}
</script>