<script setup lang="ts">
import {defineProps} from "vue";
const props = defineProps({
  header: "",
  title: "",
});

</script>

<template>
  <b-container fluid>
    <div class="page-title">
      <b-row>
        <b-col md="6">
          <h3>{{ props.header }}</h3>
        </b-col>
        <b-col md="6">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/">
                <Vue-Feather type="home"></Vue-Feather>
              </a>
            </li>
            <li class="breadcrumb-item">{{ props.title }}</li>
          </ol>
        </b-col>
      </b-row>
    </div>
  </b-container>
</template>