<script setup lang="ts">

import apiClient, {responseHandler} from "@/config/api/api";
import {computed, reactive, ref} from "vue";
import useVuelidate from "@vuelidate/core";
import {email, required} from "@vuelidate/validators";
import {useSessionStore} from "@/stores/sessionStore";
import {toast} from "vue3-toastify";

import dayjs from 'dayjs';
import relativeTime from 'dayjs/plugin/relativeTime';

dayjs.extend(relativeTime);

const useSession = useSessionStore().getSetup().setup;
const form = reactive({
  email: "",
  email_verified_at: useSession?.email_verified_at,
});
const state = reactive({
  loading: false,
});
const rules = computed(() => {
  return {
    email: {required, email},
  }
});
const $v = useVuelidate(rules, form);

const emailSubmit = async () => {
  const result = await $v.value.$validate();
  if (result) {

    state.loading = true;

    await apiClient.post(`/email`, form)
        .then(response => {
          state.loading = false;
          toast(response.data?.message || "You email updated", {
            autoClose: 3000,
          });

          emails.value.push(response.data.data);

          // if (response.status === 200)
          //   form.email_verified_at = null;

          // useSessionStore().setSetup({
          //   ...useSession,
          //   ...form,
          // });
        })
        .catch((e) => {
          state.loading = false;
          responseHandler(e).then(messages => {
            messages.forEach((m) => {
              toast(m, {
                autoClose: 3000,
              });
            })
          });
        });
  }
}
const emailVerifySubmit = async () => {

  state.loading = true;

  await apiClient.post(`auth/email/resend`, {email: form.email})
      .then(response => {
        state.loading = false;
        toast(response.data?.message, {
          autoClose: 3000,
        });

        if (response.status === 200)
          form.email_verified_at = null;

        useSessionStore().setSetup({
          ...useSession,
          ...form,
        });
      })
      .catch((e) => {
        state.loading = false;
        responseHandler(e).then(messages => {
          messages.forEach((m) => {
            toast(m, {
              autoClose: 3000,
            });
          })
        });
      });
}

const emails = ref([]);
apiClient.get(`/email`)
    .then(response => {
      emails.value = response.data;
    })
    .catch((e) => {
    });
const removeEmailSubmit = (id: number) => {
  apiClient.delete(`/email/${id}`)
      .then(response => {
        emails.value = emails.value.filter((e) => {
          if (id != e.id)
            return e;
        });

        toast(response.data.message, {
          autoClose: 3000,
        });
      })
      .catch((e) => {
      });
}
const emailVerificationSendSubmit = (id: number) => {
  apiClient.put(`/email/${id}/verification-send`)
      .then(response => {
        toast(response.data.message, {
          autoClose: 3000,
        });
      })
      .catch((e) => {
      });
}
const makePrimaryVerificationSendSubmit = (email: string) => {
  apiClient.put(`/email/make-primary`, {email: email})
      .then(response => {
        toast(response.data.message, {
          autoClose: 3000,
        });
      })
      .catch((e) => {
      });
}
</script>

<template>


  <div class="card">
    <b-card-header>
      <b-card-title>Change Email</b-card-title>
      <div class="card-options">
        <a class="card-options-collapse" href="#" data-bs-toggle="card-collapse">
          <i class="fe fe-chevron-up"></i>
        </a>
        <a class="card-options-remove" href="#" data-bs-toggle="card-remove">
          <i class="fe fe-x"></i>
        </a>
      </div>
    </b-card-header>
    <b-card-body>
      <b-form @submit.prevent="emailSubmit">

        <b-col class="mb-3">
          <b-form-floating-label class="form-label">Email-Address</b-form-floating-label>
          <b-form-input
              type="email"
              placeholder="your-email@domain.com"
              v-model="form.email"
              :state="$v.email?.$errors[0]?.$response"
              :disabled="state.loading"
          />
          <b-form-invalid-feedback v-for="error in $v.email.$errors" :key="error.uid" class="text-danger">
            {{ error.$message }}
          </b-form-invalid-feedback>
          <b-row>
            <a href="#" class="text-end px-4"
               v-if="form.email_verified_at === null"
               @click.prevent="() => emailVerifySubmit()"
            >
              Verify
            </a>
          </b-row>
        </b-col>

        <b-col md="12" class="mb-3">
          <b-button variant="primary" :disabled="state.loading" type="submit">
            <b-spinner small type="grow" v-if="state.loading"></b-spinner>
            Save
          </b-button>
        </b-col>
        <hr/>
        <b-col md="12 p-0">
          <div class="appointment-table table-responsive">
            <table class="table">
              <tbody>
              <tr>

                <td>
                  <h6 class="task_title_0">{{ useSession?.email }}</h6>
                  <p class="texts-light">Primary</p>
                </td>
                <td>
                  <p class="font-primary">
                    {{ dayjs(useSession?.email_verified_at).fromNow() }}
                  </p>
                </td>
              </tr>

              <tr v-for="email in emails" :key="email">
                <td>
                  <h6 class="task_title_0">{{ email?.email }}</h6>
                  <p class="texts-light">Secondary {{ (email?.email_verified_at === null) ? '' : '(Verified)' }}</p>
                </td>
                <td>
                  <p class="font-primary">
                    {{ dayjs(email?.email_verified_at || email?.created_at).fromNow() }}
                  </p>
                </td>
                <td>
                  <a href="#">
                    <vue-feather type="mail" class="mx-1" @click.prevent="() => emailVerificationSendSubmit(email.id)"
                                 v-if="email?.email_verified_at==null"/>
                    <vue-feather type="trash" @click.prevent="() => removeEmailSubmit(email.id)"/>
                    <span class="mx-1"
                          @click.prevent="() => makePrimaryVerificationSendSubmit(email.email)"
                          v-if="email?.email_verified_at?.length">
                      primary
                    </span>
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </b-col>

      </b-form>
    </b-card-body>
  </div>
</template>

<style scoped>

</style>