<script setup lang="ts">
import apiClient, {responseHandler} from "@/config/api/api";
import {computed, reactive} from "vue";
import useVuelidate from "@vuelidate/core";
import {email, minLength, required, sameAs} from "@vuelidate/validators";
import {useSessionStore} from "@/stores/sessionStore";
import {toast} from "vue3-toastify";

const useSession = useSessionStore().getSetup().setup;
const form = reactive({
  email: useSession?.email || "",
  current_password: "",
  password: "",
  password_confirmation: "",
});
const state = reactive({
  loading: false,
});
const rules = computed(() => {
  return {
    email: {required, email},
    current_password: {required},
    password: {required, minLength: minLength(6)},
    password_confirmation: {required, sameAsPassword: sameAs(form.password)}
  }
});
const $v = useVuelidate(rules, form);

const passwordSubmit = async () => {
  if (await $v.value.$validate()) {

    state.loading = true;

    await apiClient.patch(`password/change`, form)
        .then(response => {
          state.loading = false;

          form.current_password = '';
          form.password = '';
          form.password_confirmation = '';

          toast(response.data?.message || "You password updated", {
            autoClose: 3000,
          });
        })
        .catch((e) => {
          state.loading = false;
          responseHandler(e).then(messages => {
            messages.forEach((m) => {
              toast(m, {
                autoClose: 3000,
              });
            })
          });
        });
  }
}
</script>

<template>
  <div class="card">
    <b-card-header>
      <b-card-title>Change Password</b-card-title>
      <div class="card-options">
        <a class="card-options-collapse" href="#" data-bs-toggle="card-collapse">
          <i class="fe fe-chevron-up"></i>
        </a>
        <a class="card-options-remove" href="#" data-bs-toggle="card-remove">
          <i class="fe fe-x"></i>
        </a>
      </div>
    </b-card-header>
    <b-card-body>
      <b-form @submit.prevent="passwordSubmit">

        <b-col class="mb-3">
          <b-form-floating-label class="col-form-label">Current Password</b-form-floating-label>
          <b-form-input
              type="password"
              placeholder="******"
              v-model="form.current_password"
              :state="$v.current_password.$errors[0]?.$response"
          />
          <b-form-invalid-feedback
              v-for="error in $v.current_password.$errors" :key="error.uid" class="text-danger">
            {{ error.$message }}
          </b-form-invalid-feedback>
        </b-col>

        <b-col class="mb-3">
          <b-form-floating-label class="col-form-label">New Password</b-form-floating-label>
          <b-form-input
              type="password"
              placeholder="******"
              v-model="form.password"
              :state="$v.password.$errors[0]?.$response"
          />
          <b-form-invalid-feedback
              v-for="error in $v.password.$errors" :key="error.uid" class="text-danger">
            {{ error.$message }}
          </b-form-invalid-feedback>
        </b-col>

        <b-col class="mb-3">
          <b-form-floating-label class="col-form-label">New Password</b-form-floating-label>
          <b-form-input
              type="password"
              placeholder="******"
              v-model="form.password_confirmation"
              :state="$v.password_confirmation.$errors[0]?.$response"
          />
          <b-form-invalid-feedback
              v-for="error in $v.password_confirmation.$errors" :key="error.uid" class="text-danger">
            {{ error.$message }}
          </b-form-invalid-feedback>
        </b-col>

        <b-col md="12">
          <b-button variant="primary" :disabled="state.loading" type="submit">
            <b-spinner small type="grow" v-if="state.loading"></b-spinner>
            Change
          </b-button>
        </b-col>

      </b-form>
    </b-card-body>
  </div>
</template>

<style scoped>

</style>