<script setup lang="ts">
import {
  $dpv,
  profileForm,
  profileState,
  profileSubmit,
  useSession,
  profileImage,
  profilePhotoSubmit
} from "@/components/account/profile-edit";
import avatar from "@/assets/images/user/7.jpg";

</script>

<template>

  <div class="card">
    <b-card-header>
      <b-card-title>My Profile</b-card-title>
      <div class="card-options">
        <a class="card-options-collapse" href="#" data-bs-toggle="card-collapse">
          <i class="fe fe-chevron-up"></i>
        </a>
        <a class="card-options-remove" href="#" data-bs-toggle="card-remove">
          <i class="fe fe-x"></i>
        </a>
      </div>
    </b-card-header>
    <b-card-body>
      <b-form @submit.prevent="profileSubmit">
        <b-row class="mb-2">


          <b-card-title>
            <div class="media">
              <b-card-img class="img-70 rounded-circle" alt="profile image" :src="profileImage || avatar" @click="() => profilePhotoSubmit()"/>
              <div class="media-body mx-3">
                <h5 class="mb-1">{{ useSession?.name || 'name...' }}</h5>
                <p>{{ useSession?.title || 'DESIGNER' }}</p>
              </div>
            </div>
          </b-card-title>
        </b-row>
        <b-col class="mb-3">
          <h6 class="form-label">Bio</h6>
          <b-form-textarea
              rows="5"
              v-model="profileForm.bio"
              :state="$dpv.bio?.$errors[0]?.$response"
              :disabled="profileState.loading"
          />
          <b-form-invalid-feedback v-for="error in $dpv.bio.$errors" :key="error.uid" class="text-danger">
            {{ error.$message }}
          </b-form-invalid-feedback>
        </b-col>
        <b-col class="mb-3">
          <b-form-floating-label class="form-label">Website</b-form-floating-label>
          <b-form-input
              type="url"
              placeholder="http://Uplor .com"
              v-model="profileForm.website_url"
              :state="$dpv.website_url.$errors[0]?.$response"
              :disabled="profileState.loading"
          />
          <b-form-invalid-feedback
              v-for="error in $dpv.website_url.$errors" :key="error.uid" class="text-danger">
            {{ error.$message }}
          </b-form-invalid-feedback>
        </b-col>
        <b-col md="12">
          <b-button variant="primary" :disabled="profileState.loading" type="submit">
            <b-spinner small type="grow" v-if="profileState.loading"></b-spinner>
            Update
          </b-button>
        </b-col>
      </b-form>
    </b-card-body>
  </div>
</template>