<script setup lang="ts">

import {$userv, userForm, userState, userSubmit} from "@/components/account/profile-edit";
import {earth} from "@/config/earth";

</script>

<template>

  <div class="col-xl-8 mb-5">
    <b-form class="card" @submit.prevent="userSubmit">
      <b-card-header>
        <h4 class="card-title mb-0">Edit Profile</h4>
        <div class="card-options">
          <a class="card-options-collapse" href="#" data-bs-toggle="card-collapse">
            <i class="fe fe-chevron-up"></i>
          </a>
          <a class="card-options-remove" href="#" data-bs-toggle="card-remove">
            <i class="fe fe-x"></i>
          </a>
        </div>
      </b-card-header>
      <b-card-body>
        <b-row>
          <b-col md="6">
            <b-col mb=3>
              <b-form-floating-label class="form-label">Company</b-form-floating-label>
              <b-form-input
                  type="text"
                  placeholder="Company name"
                  v-model="userForm.company_name"
                  :state="$userv.company_name.$errors[0]?.$response"
                  :disabled="userState.loading"
              />
              <b-form-invalid-feedback
                  v-for="error in $userv.company_name.$errors" :key="error.uid" class="text-danger">
                {{ error.$message }}
              </b-form-invalid-feedback>
            </b-col>
          </b-col>
          <b-col sm="6" md="6">
            <b-col class="mb-3">
              <b-form-floating-label class="form-label">Name</b-form-floating-label>
              <b-form-input
                  type="text"
                  placeholder="Name"
                  v-model="userForm.name"
                  :state="$userv.name.$errors[0]?.$response"
                  :disabled="userState.loading"
              />
              <b-form-invalid-feedback v-for="error in $userv.name.$errors" :key="error.uid" class="text-danger">
                {{ error.$message }}
              </b-form-invalid-feedback>
            </b-col>
          </b-col>
          <b-col md="8">
            <b-col class="mb-3">
              <b-form-floating-label class="form-label">Address</b-form-floating-label>
              <b-form-input
                  type="text"
                  placeholder="Address"
                  v-model="userForm.address"
                  :state="$userv.address.$errors[0]?.$response"
                  :disabled="userState.loading"
              />
              <b-form-invalid-feedback v-for="error in $userv.address.$errors" :key="error.uid"
                                       class="text-danger">
                {{ error.$message }}
              </b-form-invalid-feedback>
            </b-col>
          </b-col>
          <b-col sm="6" md="4">
            <b-col class="mb-3">
              <b-form-floating-label class="form-label">Postal Code</b-form-floating-label>
              <b-form-input
                  type="number"
                  placeholder="ZIP Code"
                  v-model="userForm.postal_code"
                  :state="$userv.postal_code.$errors[0]?.$response"
                  :disabled="userState.loading"
              />
              <b-form-invalid-feedback v-for="error in $userv.postal_code.$errors" :key="error.uid"
                                       class="text-danger">
                {{ error.$message }}
              </b-form-invalid-feedback>
            </b-col>
          </b-col>
          <b-col sm="6" md="4">
            <b-col class="mb-3">
              <b-form-floating-label class="form-label">City</b-form-floating-label>
              <div :class="($userv.city_id?.$errors[0]?.$response === false)?'form-select p-0 is-invalid':''">
                <Multiselect
                    v-model="userForm.city_id"
                    :state="$userv.city_id?.$errors[0]?.$response"
                    :disabled="userState.loading"
                    :searchable="true"
                    :options="earth.cities"
                />
              </div>
              <b-form-invalid-feedback v-for="error in $userv.city_id.$errors" :key="error.uid"
                                       class="text-danger">
                {{ error.$message }}
              </b-form-invalid-feedback>
            </b-col>
          </b-col>
          <b-col sm="6" md="4">
            <b-col class="mb-3">
              <b-form-floating-label class="form-label">States</b-form-floating-label>
              <div :class="($userv.state_id?.$errors[0]?.$response === false)?'form-select p-0 is-invalid':''">
                <Multiselect
                    v-model="userForm.state_id"
                    :state="$userv.state_id?.$errors[0]?.$response"
                    :disabled="userState.loading"
                    :searchable="true"
                    :options="earth.states"
                />
              </div>
              <b-form-invalid-feedback
                  v-for="error in $userv.state_id.$errors" :key="error.uid" class="text-danger">
                {{ error.$message }}
              </b-form-invalid-feedback>
            </b-col>
          </b-col>
          <b-col sm="6" md="4">
            <b-col class="mb-3">
              <b-form-floating-label class="form-label">Country</b-form-floating-label>
              <div :class="($userv.country_id?.$errors[0]?.$response === false)?'form-select p-0 is-invalid':''">
                <Multiselect
                    v-model="userForm.country_id"
                    :state="$userv.country_id?.$errors[0]?.$response"
                    :disabled="userState.loading"
                    :searchable="true"
                    :options="earth.countries"
                    @change="() => {earth.cities = []}"
                />
              </div>
              <b-form-invalid-feedback
                  v-for="error in $userv.country_id.$errors" :key="error.uid" class="text-danger">
                {{ error.$message }}
              </b-form-invalid-feedback>
            </b-col>
          </b-col>

          <b-col md="12">
            <div>
              <b-form-floating-label class="form-label">About Me</b-form-floating-label>
              <b-form-textarea
                  rows="5"
                  placeholder="Enter About your description"
                  v-model="userForm.about_me"
                  :state="$userv.about_me?.$errors[0]?.$response"
                  :disabled="userState.loading"
              />
              <b-form-invalid-feedback v-for="error in $userv.about_me.$errors" :key="error.uid"
                                       class="text-danger">
                {{ error.$message }}
              </b-form-invalid-feedback>
            </div>
          </b-col>
        </b-row>
      </b-card-body>
      <b-card-footer class="text-end">
        <b-button variant="primary" :disabled="userState.loading" type="submit">
          <b-spinner small type="grow" v-if="userState.loading"></b-spinner>
          Update Profile
        </b-button>
      </b-card-footer>
    </b-form>
  </div>
</template>