<script setup lang="ts">
import {RouterLink} from "vue-router";

</script>

<template>
    <h1>Home Page</h1>
    <RouterLink to="/about">About</RouterLink>
    <br/>
    <RouterLink to="/login">Login</RouterLink>
    <br/>
    <RouterLink to="/dashboard">Customer Dashboard</RouterLink>
    <br/>
    <RouterLink to="/reseller/dashboard">Reseller Dashboard</RouterLink>
    <br/>
    <RouterLink to="/admin/dashboard">Admin Dashboard</RouterLink>
</template>
