<script setup lang="ts">

import {reactive} from "vue";

const language = reactive([
    {
        code: "en",
        name: "",
        icon: "flag-icon-us",
        current: true,
    },
    {
        code: "ae",
        name: "لعربية ",
        icon: "flag-icon-ae",
        current: false,
    },
]);
const langListDropDown = reactive({
    active: false,
});
</script>

<template>
    <div class="translate_wrapper" :class="{active: langListDropDown.active}">
        <div class="current_lang" @click="langListDropDown.active = !langListDropDown.active;">
            <div class="lang">
                <i class="flag-icon flag-icon-us"/>
                <span class="lang-txt">EN</span>
            </div>
        </div>
        <div class="more_lang" :class="{active: langListDropDown.active}"
             @mouseleave="langListDropDown.active = !langListDropDown.active;">
            <div
                    class="lang"
                    :class="lang.current===true?'selected':''"
                    :data-value="lang.code.toLowerCase()"
                    v-for="(lang, idx) in language" :key="idx"
            >
                <i class="flag-icon" :class="lang.icon"/>
                <span class="lang-txt">
		                {{ lang.name || lang.code.toUpperCase() }}
		                <span v-if="lang.code"> ({{ lang.code.toUpperCase() }})</span>
		            </span>
            </div>
        </div>
    </div>
</template>

<style scoped>

</style>