<script setup lang="ts">
import {reactive} from "vue";

const bookmarkFlip = reactive({
    active: '',
    flipped: ''
});

</script>

<template>
    <div class="notification-box">
        <vue-feather type="star"  @mouseleave="() => {bookmarkFlip.active = ''; bookmarkFlip.flipped = ''}"/>
    </div>
    <div class="onhover-show-div bookmark-flip" :class="`${bookmarkFlip.active}`">
        <div class="flip-card">
            <div class="flip-card-inner" :class="`${bookmarkFlip.flipped}`">
                <div class="front">
                    <h6 class="f-18 mb-0 dropdown-title">Bookmark</h6>
                    <ul class="bookmark-dropdown">
                        <li>
                            <div class="row">
                                <div class="col-4 text-center">
                                    <div class="bookmark-content">
                                        <div class="bookmark-icon">
                                            <vue-feather type="file-text"/>
                                        </div>
                                        <span>Forms</span>
                                    </div>
                                </div>
                                <div class="col-4 text-center">
                                    <div class="bookmark-content">
                                        <div class="bookmark-icon">
                                            <vue-feather type="user"/>
                                        </div>
                                        <span>Profile</span>
                                    </div>
                                </div>
                                <div class="col-4 text-center">
                                    <div class="bookmark-content">
                                        <div class="bookmark-icon">
                                            <vue-feather type="server"/>
                                        </div>
                                        <span>Tables</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="text-center">
                            <router-link
                                    class="flip-btn f-w-700"
                                    to="#"
                                    @click="() => {bookmarkFlip.active = 'active'; bookmarkFlip.flipped = 'flipped'}"
                            >
                                Add New Bookmark
                            </router-link>
                        </li>
                    </ul>
                </div>
                <div class="back">
                    <ul>
                        <li>
                            <div class="bookmark-dropdown flip-back-content">
                                <b-form-input type="text" placeholder="search..."/>
                            </div>
                        </li>
                        <li>
                            <router-link
                                    class="f-w-700 d-block flip-back"
                                    to="#"
                                    @click="() => {bookmarkFlip.active = ''; bookmarkFlip.flipped = ''}"
                            >
                                Back
                            </router-link>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>

</style>