<script setup lang="ts">

import {computed, reactive} from "vue";

const cart = reactive([
    {
        id: 1,
        image: "/src/assets/images/other-images/cart-img.jpg",
        name: "Furniture Chair for Home",
		    qty: 1,
        price: "500.50"
    },
    {
        id: 2,
        image: "/src/assets/images/other-images/cart-img.jpg",
        name: "Furniture Chair for Home",
        qty: 1,
        price: "600.00"
    },
]);

const cartTotal = computed(() => {
    let totalPrice = 0;
    for (var i in cart) {
        totalPrice += parseFloat(cart[i].price) * parseInt(cart[i].qty);
    }
    return totalPrice;
});

const decrementQtyProduct = (product: Object) => {
    if (product.qty <= 0) {
        product.qty = 0;
        return;
    }
    if (product.qty > 1) {
        product.qty--;
        return;
    }
};

const incrementQtyProduct = (product: Object) => {
    if (product.qty <= 0) {
        product.qty = 0;
        return;
    }
    if (product.qty < 99) {
        product.qty++;
        return;
    }
};

const removeCartProduct = (product: Object) => {
    let index = cart.findIndex(x => x.id === product.id);

    if (index > -1) {
        cart.splice(index, 1);
    }
};

</script>

<template>
    <div class="cart-box">
        <vue-feather type="shopping-cart"/>
        <span class="badge rounded-pill badge-primary">{{ cart.length }}</span>
    </div>
    <div class="cart-dropdown onhover-show-div">
        <h6 class="f-18 mb-0 dropdown-title">Cart</h6>
        <ul>
            <li v-for="(c, idx) in cart" :key="idx">
                <div class="media">
                    <img
                            class="img-fluid b-r-5 me-3 img-60"
                            :src="c.image"
                            alt="cart product image"
                    />
                    <div class="media-body">
                        <span>{{ c.name }}</span>
                        <div class="qty-box">
                            <div class="input-group">
		                            <span class="input-group-prepend">
				                            <b-button
                                            class="btn quantity-left-minus"
                                            @click="decrementQtyProduct(c)"
                                    >-</b-button>
		                            </span>
                                <b-form-input class="form-control input-number" type="text" size="sm" v-model="c.qty"/>
                                <span class="input-group-prepend">
		                                <b-button
                                            class="btn quantity-right-plus"
                                            @click="incrementQtyProduct(c)"
                                    >+</b-button>
                                </span>
                            </div>
                        </div>
                        <h6 class="font-primary">${{ c.price }}</h6>
                    </div>
                    <div class="close-circle">
                        <router-link class="bg-danger" to="#" @click="removeCartProduct(c)">
                            <vue-feather type="x"/>
                        </router-link>
                    </div>
                </div>
            </li>
            <li class="total">
                <h6 class="mb-0">Order Total : <span class="f-right">${{ cartTotal }}</span></h6>
            </li>
            <li class="text-center">
                <router-link class="d-block mb-3 view-cart f-w-700" to="cart.html">
                    Go to your cart
                </router-link>
                <router-link class="btn btn-primary view-checkout" to="#">
                    Checkout
                </router-link>
            </li>
        </ul>
    </div>
</template>
