<script setup lang="ts">
import Bookmark from "@/layouts/customer/header/Bookmark.vue";
import Cart from "@/layouts/customer/header/Cart.vue";
import Notification from "@/layouts/customer/header/Notification.vue";
import Search from "@/layouts/customer/header/Search.vue";
import {ref} from "vue";
import Language from "@/components/header/Language.vue";
import Messages from "@/layouts/customer/header/Messages.vue";
import ProfileNav from "@/layouts/customer/header/ProfileNav.vue";

const searchIsOpen = ref(false);

const openFullscreen = () => {
    var elem = document.documentElement;
    if (elem.requestFullscreen) {
        elem.requestFullscreen();
    } else if (elem.webkitRequestFullscreen) { /* Safari */
        elem.webkitRequestFullscreen();
    } else if (elem.msRequestFullscreen) { /* IE11 */
        elem.msRequestFullscreen();
    }
}

</script>

<template>
    <div class="page-header">
        <div class="header-wrapper row m-0">
            <Search :is-open="searchIsOpen"/>
            <div class="left-header col horizontal-wrapper ps-0"></div>
            <div class="nav-right col-8 pull-right right-header p-0">
                <ul class="nav-menus">
                    <li class="language-nav">
                        <Language/>
                    </li>
                    <li><span class="header-search">
		                    <vue-feather type="search" @click="searchIsOpen = !searchIsOpen"/></span>
                    </li>
                    <li class="onhover-dropdown">
                        <Notification/>
                    </li>
                    <li class="onhover-dropdown">
                        <Bookmark/>
                    </li>
                    <li>
                        <div class="mode"><i class="fa fa-moon-o"/></div>
                    </li>
                    <li class="cart-nav onhover-dropdown">
                        <Cart/>
                    </li>
                    <li class="onhover-dropdown">
		                    <Messages/>
                    </li>
                    <li class="maximize">
                        <router-link class="text-dark" to="#" @click="openFullscreen">
                            <vue-feather type="maximize"/>
                        </router-link>
                    </li>
                    <li class="profile-nav onhover-dropdown p-0 me-0">
                        <ProfileNav/>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>
