<script setup lang="ts">

</script>

<template>
    <vue-feather type="message-square"/>
    <div class="chat-dropdown onhover-show-div">
        <h6 class="f-18 mb-0 dropdown-title">Messages</h6>
        <ul class="py-0">
            <li>
                <div class="media">
                    <img class="img-fluid b-r-5 me-2" src="@/assets/images/user/1.jpg" alt="">
                    <div class="media-body">
                        <h6>Teressa</h6>
                        <p>Reference site about Lorem Ipsum, give information on its origins.</p>
                        <p class="f-8 font-primary mb-0">3 hours ago</p>
                    </div>
                    <span class="badge rounded-circle badge-primary">2</span>
                </div>
            </li>
            <li>
                <div class="media">
                    <img class="img-fluid b-r-5 me-2" src="@/assets/images/user/2.jpg" alt="">
                    <div class="media-body">
                        <h6>Kori Thomas</h6>
                        <p>Lorem Ipsum is simply dummy give information on its origins....</p>
                        <p class="f-8 font-primary mb-0">1 hr ago</p>
                    </div>
                    <span class="badge rounded-circle badge-primary">2</span>
                </div>
            </li>
            <li>
                <div class="media">
                    <img class="img-fluid b-r-5 me-2" src="@/assets/images/user/14.png" alt="">
                    <div class="media-body">
                        <h6>Ain Chavez</h6>
                        <p>Lorem Ipsum is simply dummy...</p>
                        <p class="f-8 font-primary mb-0">32 mins ago</p>
                    </div>
                    <span class="badge rounded-circle badge-primary">2</span>
                </div>
            </li>
            <li class="text-center">
                <router-link class="f-w-700" to="#">View All</router-link>
            </li>
        </ul>
    </div>
</template>

<style scoped>

</style>