<script setup lang="ts">

import {reactive} from "vue";

const notification = reactive([
    {id: 1, type: "primary", created_at: "10 min.", title: "Delivery processing"},
    {id: 2, type: "success", created_at: "1 hour", title: "Order Complete"},
    {id: 3, type: "info", created_at: "3 hours", title: "Tickets Generated"},
    {id: 4, type: "warning", created_at: "1 day", title: "Delivery Complete"}
]);
</script>

<template>
    <div class="notification-box">
        <vue-feather type="bell"/>
        <span class="badge rounded-pill badge-secondary">{{ notification.length }}</span>
    </div>
    <div class="onhover-show-div notification-dropdown" v-if="notification.length">
        <h6 class="f-18 mb-0 dropdown-title">Notifications </h6>
        <ul>
            <li :class="`b-l-${noti.type}`" class="border-4" v-for="(noti, idx) in notification"
                :key="idx">
                <router-link
                        :to="`/notification/${noti.id}`"
                        class="text-decoration-none text-secondary"
                >
                    {{ noti.title }}
                    <span class="font-danger">{{ noti.created_at }}.</span></router-link>
            </li>
            <li><a class="f-w-700" href="#">Check all</a></li>
        </ul>
    </div>
</template>

<style scoped>

</style>