<script setup lang="ts">

import {useCustomerStore} from "@/stores/customerStore";

const store = useCustomerStore();
</script>

<template>
    <div class="media profile-media">
        <img class="b-r-10" src="@/assets/images/dashboard/profile.jpg" alt="">
        <div class="media-body">
            <span>Emay Walter</span>
            <p class="mb-0 font-roboto">Admin <i class="middle fa fa-angle-down"/></p>
        </div>
    </div>
    <ul class="profile-dropdown onhover-show-div">
        <li>
            <router-link to="/account">
                <vue-feather type="user"/>
                <span>Account </span>
            </router-link>
        </li>
        <li>
            <router-link to="inbox">
                <vue-feather type="mail"/>
                <span>Inbox</span>
            </router-link>
        </li>
        <li>
            <router-link to="/setting">
                <vue-feather type="settings"/>
                <span>Settings</span>
            </router-link>
        </li>
        <li>
            <router-link to="#logout" @click.prevent="store.logout()">
                <vue-feather type="log-in"/>
                <span>Logout</span>
            </router-link>
        </li>
    </ul>
</template>

<style scoped>

</style>