<script setup lang="ts">
import {computed, defineProps, ref, watch} from 'vue'

defineProps({
    isOpen: {
        type: Boolean,
        require: true,
    }
});
</script>

<template>
    <b-form class="form-inline search-full col" @submit.prevent :class="{open: isOpen}">
        <div class="form-group w-100">
            <div class="Typeahead Typeahead--twitterUsers">
                <div class="u-posRelative">
                    <input
                            class="demo-input Typeahead-input form-control-plaintext w-100"
                            type="text"
                            placeholder="Search Cuba .."
                    />
                    <div class="spinner-border Typeahead-spinner" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <vue-feather class="close-search" type="x" @click="() => {isOpen = false}"/>
                </div>
                <div class="Typeahead-menu"></div>
            </div>
        </div>
    </b-form>
</template>
