<template>


  <Breadcrumb/>
  <b-container fluid>

    <b-row>
      <b-col sm="12">
        <b-card>
          <b-card-header>
            <h5>Sample Card</h5>
            <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
          </b-card-header>
          <b-card-body>
            <p>
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
              in reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum."
            </p>
          </b-card-body>
          <b-card-footer>
            <b-button variant="primary">
              <div class="loader-box d-inline-flex">
                <div class="loader-26"></div>
              </div>
              Button
            </b-button>
          </b-card-footer>
        </b-card>
      </b-col>
    </b-row>
  </b-container>

</template>

<script setup lang="ts">
import Breadcrumb from "@/components/breadcrumb/Breadcrumb.vue";
</script>