<script setup lang="ts">
import {RouterView} from 'vue-router'
import {onMounted, reactive, ref, watch} from "vue";
import {provideSystem} from "@/providers/useSystem";

const loader = ref(true);

onMounted(() => {
  setTimeout(() => {
    loader.value = false;
  }, 500)
});

provideSystem(reactive({data: null}));

</script>

<template>
  <div class="loader-wrapper" v-if="loader">
    <div class="loader-index">
      <span></span>
    </div>
  </div>
  <component v-else :is="$route.meta.layout || 'main'">
    <RouterView/>
  </component>
</template>