<template>
    <div class="tap-top">
        <vue-feather type="chevrons-up"/>
    </div>
    <div class="page-wrapper compact-wrapper">
        <Header/>
        <div class="page-body-wrapper">
            <Sidebar/>
            <div class="page-body">
                <slot/>
            </div>
            <Footer/>
        </div>
    </div>
</template>

<script setup lang="ts">
import Header from "./header/Header.vue";
import Footer from "@/layouts/customer/Footer.vue";
import Sidebar from "@/layouts/customer/sidebar/Sidebar.vue";

</script>
