<script setup lang="ts">
</script>

<template>
    <footer class="footer footer-fix">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 footer-copyright text-center">
                    <p class="mb-0">Copyright {{ new Date().getFullYear() }} © Cuba theme by pixelstrap </p>
                </div>
            </div>
        </div>
    </footer>
</template>
